<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">
        <!-- 配置基于注解哪些对象纳入ioc容器管理 -->
    <context:component-scan base-package="com.mlz.house1706">
   		 <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
   		 <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>
	<context:annotation-config />
	<!-- 通过动态代理实现横切关注功能
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	 -->
	<!-- 配置数据库的dbcp连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close" >
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/house" />
		<property name="username" value="root" />
		<property name="password" value="1234" />
		<property name="initialSize" value="10" />
		<property name="maxTotal" value="100" />
		<property name="maxWaitMillis" value="5000" />
	</bean>
	<!-- 配置hibernate的sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.mlz.house1706.domain"/> 
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQL57Dialect
				hibernate.show_sql=true
				hibernate.format_sql=true
				javax.persistence.validation.mode=none
				<!-- 使用spring管理事务时不使用此配置
				hibernate.current_session_context_class=thread -->
			</value>
		</property> 
	</bean>	
	<!-- spring事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>